:root {
  --font-family: 'Comfortaa', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue';
}

html {
  font-size: 14pt;
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
}

a {
  color: #99f;
}

a:hover {
  color: #aaf;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
}
